name: Update rock

on:
  workflow_dispatch: {}
  schedule:
    - cron: '0 0 * * *'

jobs:
  build:
    uses: canonical/observability/.github/workflows/rock-update.yaml@v1
    with:
      rock-name: istio-pilot
      source-repo: istio/istio
      check-go: true
    secrets: inherit